.photo-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }
  
  .photo-item {
    position: relative;
    cursor: pointer;
  }
  
  .photo-image {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .photo-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    gap: 10px;
  }
  
  .photo-item:hover .photo-overlay {
    opacity: 1;
  }
  
  .show-button,
.edit-button,
.delete-button {
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.2s;
  
}

.show-button {
  background-color: #4CAF50;
  color: white;
}

.show-button:hover {
  background-color: #45a049;
}
  /* .edit-button,
  .delete-button {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    margin: 0 5px;
  }
   */
  .edit-button {
    background-color: #facc15; /* Amarelo */
  }
  
  .delete-button {
    background-color: #ef4444; /* Vermelho */
  }
  